<h1>Perfil de usuario</h1>

<h2>Usuario: {{user.email}}</h2>
<h3>Rol: {{user.role}}</h3>

<form action="/home/products" method="post" style="margin-bottom: 24px;">
    <button type="submit" class="btn btn-danger">Salir</button>
</form>