<ul class="list-group">
    {{#each data.docs}}
        <li class="list-group-item">
           <h2>Nombre:{{this.first_name}}</h2>  <h3>Apellido{{this.last_name}}</h3> - <h3>Email{{this.email}}</h3> - <h4>{{this.age}}</h4>
        </li>
    {{/each}}
</ul>
<form action="/home/login" method="get" style="margin-bottom: 24px;">
    <button type="submit" class="btn btn-danger">Salir</button>
</form>